.exp {
    font-size: 50px !important;
    padding-top: 0 !important;
}
.Experience{
    padding-top: 0 !important;
    margin-top: 0 !important;
    /* background-color: aquamarine !important; */
    text-align: center;
    border-radius: 2px;
}
.resume_section{
    /* background-color: aquamarine !important */

}